/**
 * parent style.css override
 */

$main-color: #dd9933;

a,
a:hover,
a:active,
.site-navigation .current_page_item > a,
.site-navigation .current_page_ancestor > a,
.site-navigation .current-menu-item > a,
.site-navigation .current-menu-ancestor > a,
.hentry .mejs-controls .mejs-button button:hover,
.content-sidebar .widget a {
	color: $main-color;
}

.site-navigation,
.entry-title,
.entry-meta,
.cat-links,
.entry-content .edit-link,
.post-navigation,
.image-navigation,
.comment-author,
.comment-list .pingback,
.comment-list .trackback,
.comment-metadata,
.comment-reply-title small,
.widget,
.widget-title,
.widget_twentyfourteen_ephemera .entry-meta,
.content-sidebar .widget,
.content-sidebar .widget .widget-title,
.content-sidebar .widget_twentyfourteen_ephemera .entry-meta,
.site-info,
.featured-content {
	a:hover {
		color: $main-color;
	}
}

::selection,
::-moz-selection,
.hentry .mejs-controls .mejs-time-rail .mejs-time-current,
.page-links a:hover {
	background: $main-color;
}

.search-toggle,
.search-toggle:hover,
.search-toggle.active,
.search-box,
.hentry .mejs-overlay:hover .mejs-overlay-button,
.widget button,
.widget .button,
.widget_calendar tbody a,
.widget_calendar tbody a:hover,
.slider-control-paging a:hover:before,
.slider-control-paging .slider-active:before,
.slider-control-paging .slider-active:hover:before,
.slider-direction-nav a:hover {
	background-color: $main-color;
}

button,
.button {
	&,
	&:active,
	&:focus,
	&:hover {
		background-color: $main-color;
	}
}

input[type='button'],
input[type='reset'],
input[type='submit'] {
	.content-sidebar .widget &,
	.widget &,
	& {
		&,
		&:active,
		&:focus,
		&:hover {
			background-color: $main-color;
		}
	}
}

.site {
	margin: 0 auto;
}

.entry-meta .tag-links a:hover,
.entry-meta .tag-links a:hover:before {
	border-right-color: $main-color;
}

.page-links a:hover {
	border: 1px solid $main-color;
}

.paging-navigation .page-numbers.current,
.paging-navigation a:hover {
	border-top: 5px solid $main-color;
}

.singular .site-content .hentry.has-post-thumbnail {
	margin-top: auto;
}

@media screen and (min-width: 594px) {
	.site-content .has-post-thumbnail .entry-header {
		margin-top: auto;
	}
}

@media screen and (min-width: 673px) {
	.full-width .site-content .has-post-thumbnail .entry-header,
	.full-width .site-content .hentry.has-post-thumbnail:first-child {
		margin-top: auto;
	}
}

@media screen and (min-width: 783px) {
	.primary-navigation ul ul,
	.primary-navigation ul ul a:hover,
	.primary-navigation ul ul li.focus > a {
		background-color: $main-color;
	}

	.primary-navigation li:hover > a,
	.primary-navigation li.focus > a {
		color: #fff;
		background-color: $main-color;
	}
}

@media screen and (min-width: 846px) {
	.site-content .has-post-thumbnail .entry-header,
	.full-width .site-content .hentry.has-post-thumbnail:first-child {
		margin-top: auto;
	}
}

@media screen and (min-width: 1008px) {
	.secondary-navigation ul ul,
	.secondary-navigation li:hover > a,
	.secondary-navigation li.focus > a,
	.secondary-navigation ul ul a:hover,
	.secondary-navigation ul ul li.focus > a {
		background-color: $main-color;
	}
}

@media screen and (min-width: 1040px) {
	.site-content .has-post-thumbnail .entry-header {
		margin-top: auto;
	}
}


/**
 * Register form button
 */

.register-button {
	margin: 20px 0;
}

.register-button .button {
	display: inline-block;

	margin: 0 5px 5px 0;
}
